<section data-ng-controller="TrackersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Trackers</h1>
    </div>
    <div class="form-group">
          <label class="control-label" for="name">Search Checklists</label>
          <div class="controls">
            <input type="text" data-ng-model="search" id="name" class="form-control" placeholder="Search Checklists">
          </div>
        </div>
    <div class="list-group">
        <a data-ng-repeat="tracker in trackers | filter : search" data-ng-href="#!/trackers/{{tracker._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="tracker.created | date:'medium'"></span>
				by
				<span data-ng-bind="tracker.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="tracker.value[0].category"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!trackers.$resolved || trackers.length">
    	No Trackers yet, why don't you <a href="/#!/trackers/create">create one</a>?
    </div>
</section>